
div {
	margin: 20px;
	width: 100%;
}

footer {
	min-width: 950px;
	position: absolute;			/*keep footer to the bottom of page*/
	bottom: -150px;
	margin: 3px -3px !important;
	height: 175px;
	width: 99%;
	background-color: #9ba;
	overflow: hidden;
}

footer>object {
	min-width: 950px
	height: 100%;
	width: 100%;
}