a {
	color: #4a90e2;
	text-decoration: none;	 /* remove text underline */
}

a:hover {
	/*color: #f15791;*/
	color: #0650a0;		/* darker color on hover */
}

body {
	background-color: #ffffff;
	min-width: 950px;
	margin: 0px;
}

.page-container {
	display: block;
	min-height: 760px;		/* shift header to bottom */
}

.head-wrapper>object {
	height: 600px;
	width: 100%;
}

footer {
	height: 175px;
	background-color: #4f9ff5;
}

footer>object {
	min-width: 950px
	height: 100%;
	width: 100%;
}