a {
	color: #4a90e2;
	text-decoration: none;	 /* remove text underline */
}

a:hover {
	/*color: #f15791;*/
	color: #0650a0;		/* darker color on hover */
}

body {
	background-color: #cacaca;
}

.site-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5em;
}

.page-container {
	display: block;
	min-height: 760px;		/* shift header to bottom */
}

.page-container>object {
	/*height: 100%;*/
	width: 100%;
}

footer {
	height: 175px;
	background-color: #9ba;
	overflow: hidden;
}

/*.-orange {
	background-image: linear-gradient(-143deg, #FA61C2 0%, #F76B1C 100%);
}*/

footer>object {
	height: 100%;
	width: 100%;
}