<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			width: 99%;
			height: 100%;
			display: block;
			overflow: hidden;
		}

		.desc-block {
			margin: 2.5% 0px;
			width: 100%;
			height: auto;
			overflow: hidden;
			vertical-align: middle;
		}

		.content-block {
			float: left;
		}

		.content-block.image {
			width: 33%;
		}

		.content-block.text {
			width: 57%;
			text-align: left;
			padding: 0px 4%;
		}

		img {
			height: 300px;
			width: 300px;
			transition: all 1s ease;
		}

		img:hover {
			transform: scale(1.25);
		}
		
		.who-text {
			margin-top: 7vh;
		}
	</style>
</head>
<body align="center" >
	<div class="desc-block">
		<div class="who-text">
			<h1 style="text-align: center;margin-top: -80px; margin-bottom: 60px">Welcome to hallmark</h1>
			<p style="color: grey;text-align: center;font-size: 18px;">We are the Surat Property Counsellors that can provide answer to your queries about properties in Surat. In this website we provide you 
				with summarized list of <br><br> content about the properties on sale in the nearby areas, their price, location and the trader name. You can buy
				property after signing in. All listings are available to get <br><br>the report of the properties sold or unsold.
			</p>
		</div>
	</div>
	<hr size=5px style="color: darkcyan;background: darkcyan;width: 100%">
	<div class="desc-block">
		<div class="about-text" style="margin-top: 1vh; text-align: left;">
			<h1 style="text-align: center;  margin-bottom: 60px;">About Us</h1>
			<p style="color: grey;text-align: center;font-size: 18px;">We have years of experience in dealing with selling and buying properties in Surat. Trustworthy tech partner of thousand families.
			We are enthusiastic in answering<br><br> your queries, our experts have experience to give you the best advice in inves
			We provide straightforward answer or counselling to question asked by you in <br><br>buying or selling property in Surat.</p>
		</div>
	</div>
	<hr size=5px style="color: darkcyan;background: darkcyan;width: 100%">
	<div class="desc-block">
		<div class="about-property" style="margin-top: 2vh; text-align: left;">
			<h1>Surat Property Investment</h1>
			<p style="color: grey;text-align: left;font-size: 18px;">There are many types of properties in Surat for you to choose, be it landed or high rise.</p>
			<p style="color: grey;text-align: left;font-size: 18px;">Types of Property in Surat:-</p>
			<ul>
				<li style="color: grey;text-align: left;font-size: 18px;">Condominiums</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Apartments</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Serviced apartments</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Townhouses</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Terrace houses (single or double storey)</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Semi-detached houses (single or double storey)</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Bungalows (single or double storey)</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Retail lots / stores</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Shopping centres</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Shop offices</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Shop houses</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">SOHO / SOFO / SOVO</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Commercial buildings</li><br>
				<li style="color: grey;text-align: left;font-size: 18px;">Factories and warehouses</li><br>
			</ul>
		</div>
	</div>
	<hr size=5px style="color: darkcyan;background: darkcyan;width: 100%">
	<div class="desc-block">
		<div class="guide-text" style="margin-top: 1vh; text-align: center;">
			<h1 style="text-align: center;">GENERAL GUIDE</h1>
			<p style="color: grey;text-align: center;font-size: 18px;">Owning a property can be simple yet may be complicated depending on the circumstances of the case .</p>
			<p style="color: grey;text-align: center;font-size: 18px;">It is important to engage a professional lawyer to handle the sale and purchase transaction in order to solve the hassle, if any.</p>
		</div>
	</div>

</body>
</html>
